<div class="home-page-container">
    <div class="home-page-box-left">
        <div class="img">
            <img src="https://media.licdn.com/dms/image/C4E03AQGEzdPSj0Dytw/profile-displayphoto-shrink_800_800/0/1646363212583?e=1729123200&v=beta&t=I5oI7yY0UoxrbWKMeorzb5_tEM5SBRA-uLXYcpkxsFI"/>
        </div>
        
        <div class="home-page-container-titulo">
            Francilio Alencar de Sousa
        </div>

        <div class="home-page-container-sub-titulo">
                Java | Spring boot | React | Angular | Typescript
        </div>


        <div class="home-page-container-nav-bar">
            <ul>
                <a routerLink="angular"><li>Angular</li></a>
                <a routerLink="produtos"><li>Produtos</li></a>
                
                
            </ul>
        </div>


    </div>
    <div class="home-page-box-right"><router-outlet /></div>

</div>